body {
    background-color: #262626;
    color: #fff;
}

@keyframes spin-keyframes {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin-keyframes 5s infinite linear;
}